<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site def, gossip, depuis le dossier views !</h1>
    <a href="/gossips/new/">Cliquer ici</a>
    

        <p>
        	<% gossips.each do |gossip| %>
        	 
          <%= gossip.author %></br>
          <%= gossip.content %>
        </p>
      <% end %>
  </body>
</html>