<!DOCTYPE html>
<html>
<head>
	<title>show</title>
</head>
<body>
<h1>PAGE POTIN</h1>
<p>Voici la page du potin n°<%= params[:id] %></br>
Son auteur : <%= gossip.author %><br/>
Le contenu du potin : <%= gossip.content %>

<a href="/">Acceuil</a></p>
 </p>
</body>
</html>
